<%- include('../include/header.ejs') %>

    </head>

    <body>
        <!-- header -->
        <%- include('../include/nav-bar.ejs') %>

            <!-- Main content -->
            <main>
                <h3>Cart</h3>

            </main>
    </body>

    </html>