<%- include('../include/header.ejs') %>

    </head>

    <body>
        <!-- header -->
        <%- include('../include/nav-bar.ejs') %>

            <!-- Main content -->
            <main>
                <h3>

                </h3>

                <h4>

                </h4>
                <p>

                </p>
            </main>
    </body>

    </html>