extends layouts/nav-bar.pug

block nav-bar-style
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")

block nav-bar
    main 
        block table